<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544476757020-bm526vv2gs49q6vufqbpuivsa84ntbfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544476757020-bm526vv2gs49q6vufqbpuivsa84ntbfv</string>
	<key>API_KEY</key>
	<string>AIzaSyDv9EKCOWNOaw7y2J6MAVpLu8f4NcTaipE</string>
	<key>GCM_SENDER_ID</key>
	<string>544476757020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lammasu.secondhome2</string>
	<key>PROJECT_ID</key>
	<string>kids-cdc7d</string>
	<key>STORAGE_BUCKET</key>
	<string>kids-cdc7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544476757020:ios:1a17fe2611cfc92b7133d9</string>
</dict>
</plist>