<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVE_KyzrdJ8VQwQJWiSINnAvdwvdg4yNM</string>
	<key>GCM_SENDER_ID</key>
	<string>822577671108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lammasu.kinderandnursery</string>
	<key>PROJECT_ID</key>
	<string>kindergarten-50094</string>
	<key>STORAGE_BUCKET</key>
	<string>kindergarten-50094.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822577671108:ios:2da055d12fc2c5d5c5d291</string>
</dict>
</plist>